/********** Template CSS **********/
:root {
    --primary: #0066ff;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }
    
    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: #181d38;
    z-index: -1;
}

.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: #181d38;
    z-index: -1;
}

.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}

.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

.service-item:hover {
    margin-top: -10px;
    background: var(--primary);
}

.service-item * {
    transition: .5s;
}

.service-item:hover * {
    color: var(--light) !important;
}


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.first-section-container.custom-max-width.container-xxl.py-5 {
    background-image: url(../img/beneficios.jpg) !important;
  }


  img.img-fluid.position-absolute.w-100.h-90.logo-santa-anita {
    width: 40% !important;
  }
  
  .position-relative.h-100.div-logo-santa-anita {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .carousel {
    position: relative;
  }
  
  *,
  :after,
  :before {
    box-sizing: border-box;
  }
  
  @media (min-width: 992px) {
    div.first-section-container
      div.carousel.slide.carousel-fade
      div.carousel-indicators {
      bottom: -50px;
    }
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
  }
  
  div.first-section-container div.carousel-indicators button.active {
    background-color: #444698;
    width: 80px;
  }
  
  div.first-section-container div.carousel-indicators button {
    background-color: #cfd1d6;
    width: 18px;
    height: 7px;
  }
  
  .carousel-indicators .active {
    opacity: 1;
  }
  
  .carousel-indicators [data-bs-target] {
    box-sizing: initial;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }
  
  div.carousel-inner {
    overflow: inherit !important;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-fade .carousel-item-next.carousel-item-start,
  .carousel-fade .carousel-item-prev.carousel-item-end,
  .carousel-fade .carousel-item.active {
    z-index: 1;
    opacity: 1;
  }
  
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
  }
  
  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: block;
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -0.5);
    margin-left: calc(var(--bs-gutter-x) * -0.5);
  }
  
  @media (min-width: 1200px) {
    .col-xl-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
  }
  
  div.first-section-container div.left-container {
    padding-top: 7rem;
    padding-left: 5rem;
    position: relative;
  }
  
  div.first-section-container div.left-container div.title-labels {
    max-width: 30rem;
  }
  
  div.first-section-container div.left-container div.button-section {
    width: 550px;
    display: flex;
    grid-gap: 6rem;
    gap: 6rem;
    margin-top: 6.5rem;
    border-top: 1px solid #e4e4e6;
    border-bottom: 1px solid #e4e4e6;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-decoration: none;
  }
  
  div.first-section-container
    div.left-container
    div.button-section
    div.text-container {
    flex-grow: 1;
  }
  
  div.first-section-container div.left-container div.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4rem;
  }
  
  div.first-section-container
    div.left-container
    div.button-section
    div.text-container
    h2 {
    font-size: 18px;
    line-height: 25px;
    color: #000;
    max-width: 20rem;
    margin-bottom: 0;
  }
  
  div.first-section-container div.left-container div.title-labels h1.orange-text {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 58px;
    color: #444698;
  }
  
  div.first-section-container div.left-container div.title-labels h1.black {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    color: #2e333a;
  }
  
  @media (min-width: 1200px) {
    .order-xl-last {
      order: 6 !important;
    }
  }
  
  @media (min-width: 992px) {
    div.first-section-container div.right-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  
  div.first-section-container div.right-container {
    position: relative;
    padding-top: 5rem;
    min-height: 700px;
  }
  
  div.first-section-container div.right-container picture.bg-word-a {
    top: 26rem;
    right: 35rem;
  }
  
  div.first-section-container div.right-container picture {
    position: absolute;
  }
  
  @media (min-width: 992px) {
    div.first-section-container div.right-container picture.unit-hero-image {
      top: -2rem;
    }
  }
  
  div.first-section-container div.right-container picture.unit-hero-image {
    right: 0;
    top: 1.8rem;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  div.first-section-container div.right-container picture {
    position: absolute;
  }
  
  @media (min-width: 992px) {
    div.first-section-container
      div.right-container
      div.card-contact-form.d-lg-block {
      margin-left: 0;
      right: 24rem;
      top: 72px;
    }
  }
  
  div.card-contact-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 390px;
    background: #fff;
    box-shadow: 6px 6px 31px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    z-index: 4;
    position: absolute;
  }
  
  @media (min-width: 992px) {
    .d-lg-block {
      display: block !important;
    }
  }
  
  div.card-contact-form div.card-contact-title {
    text-align: center;
    margin: 15px 40px;
  }
  
  div.card-contact-form div.card-contact-title p {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #292929;
    margin: 0;
  }
  
  div.card-contact-form div.card-contact-body-form form div {
    margin: 15px 40px;
  }
  
  div.card-contact-form div.card-contact-body-form label.form-label {
    color: #000;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }
  
  .form-label {
    margin-bottom: 0.5rem;
  }
  
  label {
    display: inline-block;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  div.card-contact-form div.card-contact-body-form form div {
    margin: 15px 40px;
  }
  
  div.card-contact-form div.submit-form-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  div.card-contact-form div.submit-form-container button.btn.btn-primary {
    width: 100%;
    min-height: 44px;
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    background-color: #444698;
    border-color: #444698;
  }
  
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: pointer;
  }
  
  div.card-contact-form div.terms-conditions-container {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #8f989d;
  }
  
  div.card-contact-form div.terms-conditions-container a {
    text-decoration: underline;
    color: #8f989d;
  }
  
  div.buttonchat-container {
    position: fixed;
    right: 16px;
    bottom: 3rem;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    padding-right: 1rem;
  }
  
  div.buttonchat-container div.container-buttons {
    width: 61.97px;
    height: 60.621px;
  }
  
  div.buttonchat-container div.buttonchat-body {
    position: relative;
    height: 100%;
    background: linear-gradient(180deg, #444698, #444698);
    border-radius: 32px;
    display: grid;
    grid-template-columns: 15% 80% 5%;
    align-items: center;
  }
  
  div.buttonchat-container div.buttonchat-body svg {
    margin-left: 16px;
    margin-right: 10px;
    width: 30px;
    margin-top: -3px;
  }
  
  div.buttonchat-container div.buttonchat-body h5 {
    font-family: "Barlow", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .custom-max-width {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .container-fluid.p-0 {
    position: relative;
    bottom: 59px;
  }
  
  @media only screen and (min-width: 300px) and (max-width: 576px) {
    div.first-section-container div.left-container {
      padding-top: 0;
      margin-top: 2rem;
      padding-left: 5rem;
      position: relative;
    }
  }
  
  @media only screen and (min-width: 300px) and (max-width: 576px) {
    div.first-section-container div.left-container div.title-labels {
      margin-left: -2rem;
      max-width: 60rem;
    }
  }
  
  .first-section-container.custom-max-width.container-xxl.py-5 {
    padding-bottom: 0rem !important;
  }
  
  @media (min-width: 768px) {
    .uk-width-medium-1-1 {
      width: 100%;
    }
  }
  
  .uk-text-center {
    text-align: center !important;
  }
  
  .uk-panel-box {
    padding: 20px;
    background: #fff;
    color: #444;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
  }
  
  .uk-panel,
  .uk-panel:hover {
    text-decoration: none;
  }
  
  .uk-panel {
    display: block;
    position: relative;
  }
  
  .uk-panel > :not(.uk-panel-title):last-child {
    margin-bottom: 0;
  }
  
  .uk-margin-left {
    margin-left: 20px !important;
  }
  
  .uk-button {
    -webkit-appearance: none;
    margin: 0;
    overflow: visible;
    font: inherit;
    color: #444;
    text-transform: none;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    background: #f5f5f5;
    vertical-align: middle;
    line-height: 33px;
    min-height: 35px;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 2px;
  }
  
  a.uk-button.uk-button-primary.uk-margin-left {
    background-color: #444698;
    color: #fff;
    border-color: transparent !important;
  }
  .container-fluid.bg-dark.text-light.footer.pt-5.mt-5.wow.fadeIn {
    margin-top: 0rem !important;
  }
  
  div.et_pb_section.et_pb_section_0 {
    background-image: linear-gradient(
      177deg,
      #00aff0c7 4%,
      rgb(68 70 152 / 88%) 100%
    );
  }
  
  @media (min-width: 981px) {
    .et_pb_section {
      padding: 4% 0;
    }
  }
  
  .et_pb_section {
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
  }
  
  @media (min-width: 981px) {
    .et_pb_row {
      padding: 2% 0;
    }
  }
  
  .et_pb_column,
  .et_pb_row,
  .et_pb_row_inner {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
  }
  
  .et_pb_row {
    width: 80%;
    max-width: 1080px;
    margin: auto;
    position: relative;
    display: flex;
  }
  
  .et_pb_column.et_pb_column_1_2.et_pb_column_0.et_pb_css_mix_blend_mode_passthrough {
    width: 47.25%;
  }
  
  @media (min-width: 981px) {
    .et_pb_gutters3 .et_pb_column,
    .et_pb_gutters3.et_pb_row .et_pb_column {
      margin-right: 5.5%;
    }
  }
  
  .et_pb_text_1.et_pb_text {
    color: #ffffff !important;
  }
  
  .et_pb_module.et_pb_text_align_justified {
    text-align: justify;
  }
  
  .et_pb_text_0 h1 {
    font-weight: 800;
    font-size: 37px;
    color: #ffffff !important;
  }
  
  .et_pb_image img {
    position: relative;
  }
  
  .custom-max-width {
    max-width: 1897px !important;
  }
  
  .first-section-container.custom-max-width.container-xxl.py-5 {
    background-image: url(../img/beneficios.jpg) !important;
  }
  